<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.epsilonlabs.modelflow.engine.pluginExtension">
      <module
            PluginModule="org.epsilonlabs.modelflow.mmc.xtext.plugin.XtextPlugin">
      </module>
   </extension>

</plugin>
